@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap');
*{
    font-family: 'Work Sans', sans-serif;
}
.nav-bar{
    background-color: #fff;
    border-radius: px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 15rem;
}
.nav-img{
    display: flex;
    align-items: center;
    
    
}
.nav-img > img{
    width: 5.37756rem;
height: 2.5rem;
flex-shrink: 0;
margin-right: 1rem;

}
.nav-heading{
    text-align: center;
    font-size: 2.8125rem;
font-style: normal;
font-weight: 700;
line-height: normal;

}
.g{
    color: rgba(255, 66, 165, 1);
}
.nav-menu ul{
    display: flex;
    
}
.nav-menu ul li{
    list-style: none;
    align-content: center;
    font-size: 1.125rem;
font-style: normal;
font-weight: 500;
margin-right: 1rem;
}
.nav-menu ul li a{
   text-decoration: none; 
}
.nav-menu img{
    width: 2.11975rem;
    height: 1.5rem;

}

.banner-section{
    display: flex;
    margin: 0 10rem;
}
    

.icon{
    width: 1.5rem;
height: 1.5rem;
flex-shrink: 0;
}
.banner-text{
    background-image: url("images/Group 14.png");
    align-content: center;
    margin-right: 5rem;
}
.banner-head{
    text-align: center;
    font-size: 3rem;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
}
.banner-head span{

color: blueviolet;
font-size: 5.9375rem;
font-style: normal;
font-weight: 800;
line-height: normal;
text-transform: uppercase;
}
.btn-primary{
    color: #FFF;
font-size: 1.25rem;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
border-radius: 3rem;
background-color: blueviolet;
padding: 1.3125rem 2.5rem;
}
.btn-go-rogue{
    
    background: #4EC5F7;
    color: #FFF;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 3rem;
    padding: 1.3125rem 2.5rem;
}
.btn-shop-now{
    color: #FFF;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 3rem;
    background-color: blueviolet;
    padding: 1.3125rem 2.5rem;
}
.banner-section-2{
    display: flex;
    background-color: bisque;
}
.banner-section-2-text{
    text-align: right;
    
}
.banner-section-2-text h3{
    text-align: right;
font-size: 3rem;
font-style: normal;
font-weight: 700;
line-height: normal;
color: darkorchid;
}
.online-game-text{
    text-align: center;
}

.online-game-text h3{
    font-size: 3rem;
font-style: normal;
font-weight: 700;
line-height: normal;

} 
.online-game-text h3 span{
    color: darkmagenta;
}
.online-game-img{
    display: flex;
    justify-content: space-between;
} 
.online-game-img img:hover{
    opacity: 0.5;
    
}
.online-game-img-level ul{
    display: flex;
    justify-items: left;
}
.online-game-img-level li{
    list-style: none;
    margin-right: 5rem;
}
#exceptional{
    margin-right: 0%;
}
.opt{
    display: flex;
    text-align: right;
    margin: 2rem 10rem;
    justify-content: space-between;

}
.opt h3{
    font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 60px;

}
.opt span{
    color: darkorchid;
}
#position{
    position: absolute;
    left: 30%;
    margin-top: 30%;
}
.item-9{
    background: bisque;
    padding: 100px 100px;
    display: flex;
    flex-direction: column;

}
.item-5{
    display: flex;
    justify-content: center;
    
}
.item-4{
    display: flex;
    justify-content: center;
}
.item{
    display: flex;
    margin: 10px;
    
border-radius: 50px;
background: #FFF;
}
.item:hover{
    border: brown solid 2px;
}
.div-1{
    display: flex;
    justify-content: center;
    
}
.div-2 ul{
    display: flex;
    justify-content: center;
}
.div-2 li{
    list-style: none;
    font-size: 18px;
    font-weight: 600;
    margin: 20px;
    
    
}
.div-2 a{
    text-decoration: #FFF;
}
